body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;

  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header, .card {
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
}

.card {
  margin: 30px auto;
  padding: 20px;
  width: 300px;
  background: #1a1a1a;
  border-radius: 10px;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  background: #ff3c3c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ff1f1f;
}